.clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: floralwhite;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: brown;
    border: 2px solid whitesmoke;
    cursor: pointer;
    border-radius: 50px;
    user-select: none;
}
.clear:hover{
    background-color: burlywood;
}